# مكتبات تحليل البيانات ومعالجتها
numpy
pandas
scipy
scikit-learn
matplotlib
seaborn
joblib
openpyxl
xlsxwriter


# مكتبات التعلم الآلي والتعلم العميق
tensorflow
tensorflow-hub
keras
xgboost
lightgbm
torch
torchvision

# مكتبات معالجة الصور والملفات
opencv-python-headless
pillow
pytesseract  # تم استبدال tesseract بـ pytesseract لتجنب مشكلة التثبيت

# مكتبات إنشاء الواجهات التفاعلية
streamlit
flask
fastapi
gradio

# مكتبات دعم أخرى
requests
urllib3
protobuf
markdown
rich
wheel
Werkzeug
